<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= nama %></h1>

    <% data.forEach(item => { %>
    <ul>
      <li><%= item.judul %></li>
      <li><%= item.deskripsi %></li>
      <li><%= item.harga %></li>
    </ul>
    <% }) %>
  </body>
</html>
